*{
    margin:0;
    padding:0;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 39);
    color: white;
    height:80px;
    margin-bottom:50px;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap:50px;
}
img{
    height: 185px;
    width: 185px;
    border-radius:100px;
    object-fit: cover;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    /* border:6px solid rgb(13, 13, 37); */
    /* border-radius:100px; */
    cursor: pointer;
    /* opacity:0.7; */
    background-color: rgb(13, 13, 37);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap:30px;
    font-size: 30px;
    margin-bottom:30px;
}
.msg{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size:30px;
   height:80px;
}
#msg{
    background-color: rgb(8, 8, 39);
    padding:14px;
    border-radius:10px;
    color: white;
}
